.ticket-container {
    position: sticky;
    top: 20px;
    width: 350px;
    max-height: fit-content;

    hr {
        border: 0;
        border-top-width: 2px;
        border-style: dashed;
        color: lightgray;
        margin: 15px -24px;
    }

    .ticket-detail {
        width: 100%;
        max-width: 400px;
        margin-top: 20px;

        .movie-detail {
            img {
                width: 100%;
                height: auto;
                margin-top: -20px;
                margin-bottom: 15px;
            }

            h3 {
                font-size: 18px;
                font-weight: 700;
                text-transform: capitalize;
                text-align: center;
                margin-bottom: 15px;
            }
        }

        .seat-location {
            margin-bottom: 30px;
        }

        .button-container {
            text-align: center;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: grid;
            row-gap: 10px;

            li {
                display: grid;
                grid-template-columns: 150px 1fr; 
                align-items: center;
                margin-left: 5px;
            }

            strong {
                font-weight: 600;
            }
        }
    }
}
