.movieitem_container {
    width: calc(25% - 20px);
    margin-right: 12px;
    margin-bottom: 20px;

    .ant-card {
        width: 100%;
        border-radius: 12px;
        overflow: hidden;
    }

    .ant-card-cover img {
        height: 380px;
        object-fit: cover;

        &:hover {
            opacity: 0.9;
        }
    }

    .movie-title {
        font-size: 18px !important;
        color: #0a64a7;
        font-weight: 600;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        /* text-overflow: ellipsis; */
        text-decoration: none;
        white-space: nowrap;
        margin-bottom: 15px;

        &:hover {
            text-decoration: underline;
            color: #258dcf;
        }

    }

    .marquee {
        display: inline-block;
        animation: marquee 5s linear infinite;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        position: relative;
    }

    @keyframes marquee {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    .movie-info {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 14px;
        color: #333;

        ul {
            margin-bottom: 25px;

            li {
                margin-bottom: 6px;
                font-weight: 400;
            }

            strong {
                color: #000;
            }
        }
    }

    .buy-button {
        display: block;
        width: 100%;
        text-align: center;
        background-color: #0a64a7;
        border-radius: 6px;
        color: white;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 5px 14px;

        &:hover {
            background-color: #258dcf;
        }
    }
}