@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Oswald:wght@500&display=swap");

$primary-color: #ecad29;
$text-color: #FFFFFFDD;

.banner-container {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    color: $text-color;
    font-family: "Inter", sans-serif;
    margin-top: 0;
    background-color: #222;


    .card {
        position: absolute;
        left: 0;
        top: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.6);
    }

    .card-content {
        position: absolute;
        left: 0;
        top: 0;
        color: $text-color;
        padding-left: 16px;
    }

    .content-place {
        margin-top: 6px;
        font-size: 13px;
        font-weight: 500;
    }

    .content-title-1,
    .content-title-2 {
        font-weight: 600;
        font-size: 20px;
        font-family: "Oswald", sans-serif;
    }

    .content-start {
        width: 30px;
        height: 5px;
        border-radius: 99px;
        background-color: $text-color;
    }

    .details {
        z-index: 22;
        position: absolute;
        top: 120px;
        left: 60px;

        .place-box {
            height: 36px;
            overflow: hidden;

            .text {
                padding-top: 12px;
                font-size: 16px;

                &:before {
                    top: 0;
                    left: 0;
                    position: absolute;
                    content: "";
                    width: 30px;
                    height: 4px;
                    border-radius: 99px;
                    background-color: white;
                }
            }
        }

        .title-1,
        .title-2 {
            font-weight: 600;
            font-size: 52px;
            font-family: "Oswald", sans-serif;
        }

        .title-box-1,
        .title-box-2 {
            margin-top: 2px;
            height: 72px;
            overflow: hidden;
        }

        >.desc {
            margin-top: 12px;
            width: 450px;
            line-height: 1.5;
            font-size: 14px;
        }
    }

    .pagination {
        position: absolute;
        left: 0px;
        top: 0px;
        display: inline-flex;
        margin-top: 20px;

        >.arrow {
            z-index: 60;
            width: 45px;
            height: 45px;
            border-radius: 999px;
            border: 2px solid #ffffff55;
            display: grid;
            place-items: center;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                border-color: $primary-color;
                background-color: rgba(236, 173, 41, 0.1);

                svg {
                    color: $primary-color;
                }
            }

            &:nth-child(2) {
                margin-left: 20px;
            }

            svg {
                width: 22px;
                height: 22px;
                stroke-width: 2;
                color: #ffffff99;
                transition: color 0.3s;
            }
        }

        .progress-sub-container {
            margin-left: 24px;
            z-index: 60;
            width: 400px;
            height: 45px;
            display: flex;
            align-items: center;

            .progress-sub-background {
                width: 400px;
                height: 3px;
                background-color: #ffffff33;

                .progress-sub-foreground {
                    height: 3px;
                    background-color: $primary-color;
                }
            }
        }

        .slide-numbers {
            width: 45px;
            height: 45px;
            overflow: hidden;
            z-index: 60;
            position: relative;

            .item {
                width: 45px;
                height: 45px;
                position: absolute;
                color: white;
                top: 0;
                left: 0;
                display: grid;
                place-items: center;
                font-size: 28px;
                font-weight: bold;
            }
        }
    }

    .cover {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        z-index: 100;
    }
}

@media (max-width: 768px) {
    .banner-container {
        height: 50vh;
        /* Giảm chiều cao trên mobile */
        margin-top: 60px;
        /* Giảm margin-top trên mobile */


        .details {
            left: 20px;
            top: 100px;

            .title-1,
            .title-2 {
                font-size: 36px;
            }

            >.desc {
                width: 90vw;
                font-size: 14px;
            }
        }

        .pagination {
            .progress-sub-container {
                width: 150px;

                .progress-sub-background {
                    width: 150px;
                }
            }
        }
    }
}