.homepage-container {
    max-width: 1180px;
    margin: 40px auto;
    padding: 15px;


    .ant-tabs {
        padding: 0 20px;
        margin-bottom: 20px;
    }

    .ant-tabs-tab {
        font-size: 20px !important;
        font-weight: 500;
        text-transform: uppercase;
        color: #333;
        padding: 10px 20px !important;
        margin-right: 10px;
        transition: all 0.3s ease;

        &:hover {
            color: #0a64a7;
            background: #f0f0f0;
        }
    }

    .ant-tabs-tab-active {
        color: #0a64a7;
        font-weight: 600;
        background: #fff;
        border-bottom: 2px solid #0a64a7;
    }

    .ant-tabs-tab:not(.ant-tabs-tab-active) {
        border-bottom: 1px solid #d9d9d9;
    }

    .movie-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 10px;
    }
}