.seat-selection-page {
    display: flex;
    gap: 20px;
    position: relative;
    padding: 20px;
    max-width: 100%;
    margin: 30px auto;
    justify-content: center;

    .seat-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h2 {
            margin-top: 30px;
            margin-bottom: 20px;
            font-size: 20px;
            font-weight: bold;
            color: #444;
            text-transform: uppercase;

            ::before {
                content: '';
                display: block;
                width: 80%;
                height: 10px;
                margin: 0 auto 10px;
                background: gray;
                border-radius: 50px;
            }
        }

        .seat-annotation {
            display: flex;
            justify-content: center;
            gap: 25px;
            margin-bottom: 20px;
            flex-wrap: wrap;
            font-size: 16px;

            .seat-type {
                display: flex;
                align-items: center;
                gap: 8px;
                font-weight: 500;
                color: #333;
            }

            #available-seat i {
                color: black;
            }

            #vip-seat i {
                color: darkgoldenrod;
            }

            #selected-seat i {
                color: green;
            }

            #held-seat i {
                color: blue;
            }

            #booked-seat i {
                color: red;
            }
        }
    }
}