@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: #fff;
  color: #000;
}

main {
  padding: 0 !important;
  margin: 0 !important;
}

.main {
  padding: 0 !important;
  margin: 0 auto !important;
  max-width: 100% !important;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}

.ant-layout,
.ant-menu,
.ant-menu-item,
.ant-menu-item a {
  font-family: "Oswald", sans-serif !important;
}

.ant-layout-content {
  padding: 0 !important;
  margin: 0 !important;
}
