.cinema-form-modal {
  .form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  .checkbox-grid {
    margin-top: 8px;
  }
}
