.confirm-payment-page {
    display: flex;
    position: relative;
    padding: 20px;
    max-width: 100%;
    margin: 30px auto;
    justify-content: center;

    .bill-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}